html {
    background-color: #0d1117;
}

body {
    padding: 0;
    margin: 0;
}

* {
    color: #c9d1d9;
    font-family: monospace;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.smallFont {
    font-size: 0.8rem;
}

.message, .formHeading, .form , .submit {
    padding-left: 5%;
}


/* ---------- CONTAINER ----------*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5% 0;
}

/*----------- MESSAGE ----------*/



/*---------- FORM -------------*/

.input {
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-left: 0;
}

input {
    background-color: #00ffffad;
    color: #0e1724;
}

.formContainer {
    background-color: #0e1724;
    box-shadow: 0px 1px 8px #2f3045;
    padding-right: 20%;
}

.formHeading {
    padding-top: 2%;
}

    form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

/*---------- SUBMIT -----------*/

button {
    background-color: #2f3045;
    border: 1px solid #c9d1d9;
    border-radius: 4px;
    margin-bottom: 8px;
}

/*---------- SIDEBAR -----------*/

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url(images/unity-part2-lamaery.webp) ;
    background-size: cover;
}

/*---------  header ------------*/

.header {
    display: flex;
    background-color: rgba(48, 49, 70, 0.65);
}

#stormlight {
    width: 20%;
    height: auto;
}

/*--------- footer ------------*/
footer {
    text-align: center;
    padding: 5%;
}