html {
    background-color: #0d1117;
}

body {
    padding: 0;
    margin: 0;
}

* {
    color: #c9d1d9;
    font-family: monospace;
}

@font-face {
    font-family: caslon;
    src: url('fonts/ACaslonPro-Bold.otf');
}



.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.smallFont {
    font-size: 0.8rem;
}

.message, .formHeading, .formContainer , .submit {
    padding-left: 5%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* ---------- CONTAINER ----------*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5% 0;
}

/*----------- MESSAGE ----------*/



/*---------- FORM -------------*/

.input {
    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-left: 0;
}

input {
    background-color: #00ffffad;
    color: #0e1724;
    border: 1px solid #2f3045;
    border-radius: 2px;
    margin-right: 25%;
}

.formContainer {
    background-color: #0e1724;
    box-shadow: 0px 1px 8px #2f3045;
    padding-right: 20%;
}

.formHeading {
    padding-left: 0;
    padding-top: 2%;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    
}

/*---------- SUBMIT -----------*/


button {
    background-color: #2f3045;
    border: 1px solid #c9d1d9;
    border-radius: 4px;
    margin-top: 16px;
    margin-bottom: 24px;
}

button:hover {
    background-color: #00ffff75;
}

button:active {
    transform: scale(1.02);
}

.link {
    color: #00ffffad ;
    text-decoration: none;
    
}
.link:hover{ text-decoration: underline;}

/*---------- SIDEBAR -----------*/

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    background-image: url(images/unity-part2-lamaery.webp) ;
    background-size: cover;
    background-position: center;
}

/*---------  header ------------*/

.header {
    display: flex;
    background-color: rgba(219, 206, 120,0.6);
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 0;
    font-family: caslon;
    color: #1b2e49f8;
}

#stormlight {
    width: 20%;
    margin-right: 8px;
    color: #c9d1d9;
    
}

/*--------- footer ------------*/
footer {
    text-align: center;
    padding: 5%;
}

